.row-header{
  margin: 0px auto;
  padding: 0px auto;
}

.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer{
  background-color: #1b1f26;
  color: grey;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron{
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #9575CD;
  color: floralwhite;
}

body{
  padding: 50px 0px 0px 0px;
  z-index: 0;
  font-family: times;
  font-size: 17px;
  background-color: #0e0f12;
  color: floralwhite;
}

.navbar-dark{
  background-color: #1b1f26;
}

.row-content{
  padding: 0px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

.tablinks{
  background-color: #1c2124;
  color: grey;
  border-color: black;
}

.breadcrumb{
  background-color: #070708;
}

.row{
  border-color: black;
}


.example{
  padding-left: 10px;
  background-color: #17191c;
}

.collapsible {
  background-color: #17191c;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px ridge;
  border-color: black;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #0f1114;
}

.problem {
  padding: 10px 18px 0px;
  display: none;
  overflow: hidden;
  background-color: #0f1012;
  align-content: center;
}

.card{
  background-color: red;
  margin-bottom: 10px;
}

.card-header{
  background-color: #17191c;
  text-align: center;
}
.card-body{
  text-align: center;
  background-color: black;
}
